{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section" style="margin-top: 0px; margin-bottom: 50px;  border-style: solid; border-color: #343a40; border-radius: 10px; padding: 5%; border-width: 1px;" >
      <img class="rounded-circle article-img" style="height:80px; width:80px; display: inline-block;" src="{{ object.author.profile.image.url }}">
          <div class="media-body" style="margin-top: 0px;">
              <div class="article-metadata" style="margin-top: 0px;">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"d F,Y" }}</small>
                {% if object.author == user %}
                  <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                  </div>
                {% endif %}
              </div>
              <h2 class="article-title">{{ object.title }}</h2>
              <p class="article-content">{{ object.content }}</p>
              <span><i class="glyphicon glyphicon-thumbs-up"></i> {{object.like}}</span>
              <span style="margin-left: 5%;"><i class="glyphicon glyphicon-thumbs-down"></i> {{object.dislike}}</span>
          </div>
        </article>
{% endblock content %}